<a href="https://colab.research.google.com/github/Krishbista10/CSC221_kbist001/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#TIY 2-1
simple_message = "Hi my name is Krish"
print(simple_message)

Hi my name is Krish

In [19]:
#TIY 2-2
message = "Hi I am 20 years old"
print(message)

Hi I am 20 years old

In [20]:
#changing the message
message = "Hello I am from Nepal"
print(message)

Hello I am from Nepal

In [21]:
#TIY 2-3
person_name = "Krish"
print(f"Hello {person_name}, would you like to learn some Python")

Hello Krish, would you like to learn some Python

In [22]:
#TIY 2-4
name = "lionel Messi"
print(name.lower())
print(name.upper())
print(name.title())

lionel messi
LIONEL MESSI
Lionel Messi

In [23]:
#TIY 2-5
name = "Ed Sheeran"
quote = "Be original; don't be scared of being bold!"
print(f'{name} once said, "{quote}"')

Ed Sheeran once said, "Be original; don't be scared of being bold!"

In [24]:
#TIY 2-6
famous_name = "Ed Sheeran"
quote = "Be original; don't be scared of being bold!"
message = f'{famous_name} once said,"{quote}"'
print(message)

Ed Sheeran once said,"Be original; don't be scared of being bold!"

In [25]:
#TIY 2-7
person_name = "\t Lionel Messi \n"
print(person_name)

print(person_name.lstrip())
print(person_name.rstrip())
print(person_name.strip())

	 Lionel Messi

Lionel Messi

	 Lionel Messi
Lionel Messi

In [26]:
#TIY 2-8
print (6 + 2)
print (10 - 2)
print (4 * 2)
print(int(24 / 3))

8
8
8
8

In [27]:
#TIY 2-9
my_favourite_number = 10
message = f"My favourite number is {my_favourite_number}."
print(message)

My favourite number is 10.

In [28]:
#TIY 2-10
#Program 1
#Program written by Krish on 02/14/2024
#This program shows arithmetic operations like addition, subtraction, multiplication, and division
#This adds the numbers given and prints out 8
print(6 + 2)

#This subtracts the numbers and prints out 8
print(10 - 2)

#This multiplies the numbers and prints out 8
print(4*2)

#This divides the numbers and prints out 8
print(int(24/3))

8
8
8
8

In [29]:
#TIY 2-10
#Program 2
#Program written by Krish on 2/14/2024

#This program prints out the name of Ed Sheeran

#I gave the value Ed Sheeran to the variable called famous_name
famous_name = "Ed Sheeran"

#I wrote the famous quote said by Ed Sheeran with double quotation
quote = "Be original; don't be scared of being bold!"

#This prints out the program that I want, here "{}" inside ehre I am writting variables

#I used single quotation so that there will not be any errors as the actual quote is supposed to be  in double quotation
print(f'{name} once said, "{quote}"')

Ed Sheeran once said, "Be original; don't be scared of being bold!"

In [30]:
#TIY 2-11

import this