<a href="https://colab.research.google.com/github/Krishbista10/CSC221_kbist001/blob/main/Asssignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#TIY 6-1
person = {
    "first_name" : "Krishav",
    "last_name": "Bista",
    "age" : "17",
    "city" : "Kathmandu"
    }
print("The first name is", person["first_name"])
print("The last name is", person["last_name"])
print("He is", person["age"])
print("He is from", person["city"])

The first name is Krishav
The last name is Bista
He is 17
he is from Kathmandu

In [14]:

# TIY 6-2:

favourite_numbers = {
    "Ashik" : 7 ,
    "Arpan" : 10 ,
    "Earik" : 9 ,
    "Krishav" : 6 ,
    "Sujen" : 8
        }

for people, number in favourite_numbers.items():
  print(f"{people}'s favourite number is {number}.")

Ashik's favourite number is 7.
Arpan's favourite number is 10.
Earik's favourite number is 9.
Krishav's favourite number is 6.
Sujen's favourite number is 8.

In [21]:

#TIY 6-3
glossary = {
     "del": "A keyword used in Python to delete elements from a list or dictionary.",
    ".upper": "A string method in Python that converts all characters in a string to uppercase.",
    ".title": "A string method in Python that converts the first character of each word to uppercase.",
    ".lower": "A string method in Python that converts all characters in a string to lowercase.",
    "input": "A function in Python used to accept input from the user."

}

print("These are the programing words:\n")
for words, meaning in glossary.items():
  print (f"{words} : {meaning}\n")

These are the programing words:

del : A keyword used in Python to delete elements from a list or dictionary.

.upper : A string method in Python that converts all characters in a string to uppercase.

.title : A string method in Python that converts the first character of each word to uppercase.

.lower : A string method in Python that converts all characters in a string to lowercase.

input : A function in Python used to accept input from the user.

In [22]:
#TIY 6-4


# Initial glossary
glossary = {
    "del": "A keyword used in Python to delete elements from a list or dictionary.",
    ".upper": "A string method in Python that converts all characters in a string to uppercase.",
    ".title": "A string method in Python that converts the first character of each word to uppercase.",
    ".lower": "A string method in Python that converts all characters in a string to lowercase.",
    "input": "A function in Python used to accept input from the user."
}

print("Initial glossary:")
for word, meaning in glossary.items():
    print(f"{word}: {meaning}")

glossary.update({
    "print": "A function in Python used to display output.",
    "int": "A data type in Python representing integers.",
    "float": "A data type in Python representing floating-point numbers.",
    "list": "A data structure in Python used to store a collection of items.",
    "tuple": "A data structure in Python similar to a list, but immutable."
})

print("\nUpdated glossary:")
for word, meaning in glossary.items():
    print(f"{word}: {meaning}")

Initial glossary:
del: A keyword used in Python to delete elements from a list or dictionary.
.upper: A string method in Python that converts all characters in a string to uppercase.
.title: A string method in Python that converts the first character of each word to uppercase.
.lower: A string method in Python that converts all characters in a string to lowercase.
input: A function in Python used to accept input from the user.

Updated glossary:
del: A keyword used in Python to delete elements from a list or dictionary.
.upper: A string method in Python that converts all characters in a string to uppercase.
.title: A string method in Python that converts the first character of each word to uppercase.
.lower: A string method in Python that converts all characters in a string to lowercase.
input: A function in Python used to accept input from the user.
print: A function in Python used to display output.
int: A data type in Python representing integers.
float: A data type in Python representing floating-point numbers.
list: A data structure in Python used to store a collection of items.
tuple: A data structure in Python similar to a list, but immutable.

In [23]:
#TIY 6-11

cities = {
    "Tokyo": {
        "country": "Japan",
        "population": "approximately 14 million",
        "fact": "Tokyo is the most populous metropolitan area in the world."
    },
    "New York City": {
        "country": "United States",
        "population": "approximately 8.4 million",
        "fact": "New York City is known as the cultural and financial capital of the world."
    },
    "London": {
        "country": "United Kingdom",
        "population": "approximately 8.9 million",
        "fact": "London is one of the most diverse cities in the world."
    }
}

for city, info in cities.items():
    print(f"\nCity: {city}")
    print(f"\tCountry: {info['country']}")
    print(f"\tPopulation: {info['population']}")
    print(f"\tFact: {info['fact']}")

City: Tokyo
	Country: Japan
	Population: approximately 14 million
	Fact: Tokyo is the most populous metropolitan area in the world.

City: New York City
	Country: United States
	Population: approximately 8.4 million
	Fact: New York City is known as the cultural and financial capital of the world.

City: London
	Country: United Kingdom
	Population: approximately 8.9 million
	Fact: London is one of the most diverse cities in the world.

In [26]:
%%file grading.txt
sushila, 36
samjhana, 50
radhika, 30
sunita, 37
ritu, 31
bandana, 33
shreya, 19

Overwriting grading.txt

In [27]:
#Reading
grade_dict = {}
with open("grading.txt", "r") as file:
    for line in file:
        name, grade = line.strip().split(", ")
        grade_dict[name] = int(grade)

print("Dictionary sorted by names alphabetically:")
for name in sorted(grade_dict.keys()):
    print(f"{name}: {grade_dict[name]}")

print("\nDictionary sorted by grades from highest to lowest:")
for name, grade in sorted(grade_dict.items(), key=lambda item: item[1], reverse=True):
    print(f"{name}: {grade}")

Dictionary sorted by names alphabetically:
bandana: 33
radhika: 30
ritu: 31
samjhana: 50
shreya: 19
sunita: 37
sushila: 36

Dictionary sorted by grades from highest to lowest:
samjhana: 50
sunita: 37
sushila: 36
bandana: 33
ritu: 31
radhika: 30
shreya: 19