<a href="https://colab.research.google.com/github/Krishbista10/CSC221_kbist001/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1).abs()
num = -3.14
print(abs(num))  # Output: 3.14

3.14

In [ ]:
#2).all()
numbers = [2, 4, 6, 8, 10]
print(all(num % 2 == 0 for num in numbers))

True

In [ ]:
#3).any()
bool_list = [True, True, True]
print(all(bool_list))

string = "hello"
print(all(char.isalpha() for char in string))

numbers = [1, 2, 3, 4, 5]
print(all(num > 0 for num in numbers))

True
True
True

In [ ]:
#4).len()
numbers = [1, 2, 3, 4, 5]
print(len(numbers))

5

In [1]:
#5). list()
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

In [2]:
#6 range()
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [3]:
#7 reversed()
my_list = [1, 2, 3, 4, 5]
reversed_list = reversed(my_list)
for item in reversed_list:
    print(item)

5
4
3
2
1

In [4]:
#8 bool()
print(bool(0))
print(bool(1))
print(bool(42))

False
True
True

In [5]:
#9 filter()
numbers = [-3, -2, -1, 0, 1, 2, 3]
positive_numbers = filter(lambda x: x > 0, numbers)
print(list(positive_numbers))

[1, 2, 3]

In [6]:
#10 max()
words = ["apple", "banana", "kiwi", "orange"]
longest_word = max(words, key=len)
print(longest_word)

banana

In [7]:
#11 min()
numbers = [5, 10, 3, 8]
min_number = min(numbers)
print(min_number)

3

In [8]:
#12 slice()
my_list = [1, 2, 3, 4, 5]
my_slice = slice(1, 4)
print(my_list[1:4])
print(my_list[my_slice])

[2, 3, 4]
[2, 3, 4]

In [9]:
#13 sorted()
my_string = "hello"
sorted_string = sorted(my_string)
print(sorted_string)

['e', 'h', 'l', 'l', 'o']

In [10]:
#14 sum()
my_set = {1, 2, 3, 4, 5}
total = sum(my_set)
print(total)

15

In [11]:
#15 dict()
pairs = [('a', 1), ('b', 2), ('c', 3)]
my_dict = dict(pairs)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [12]:
#16 input()
name = input("Enter your name: ")
print("Hello,", name)

Enter your name: uii
Hello, uii

In [13]:
#17 type()
my_list = [1, 2, 3]
print(type(my_list))

<class 'list'>

In [14]:
#18 print()
print("Hello, world!")

Hello, world!

In [15]:
#19 help()
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
#20 round()
z = 4.9
rounded_z = round(z)
print(rounded_z)

5